.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.title {
  position: relative;
  left: 47%;
  max-width: 50px;
}

.center-container {
  max-width: 500px;
  max-height: 400px;
  margin: 135px auto;
  background: #fff;
  overflow: auto;
  display: inline-block;
  vertical-align: middle;
}

.tasks-parent{
  text-align: center;
}

.addTaskContainer{
  display: inline-block;
  vertical-align: middle;
  background-color: burlywood;
  margin-right: 20em;
  padding: 2em;
  text-align: right;
}
